# IntelliJ IDE
.idea
*.iml

# Eclipse IDE
.settings/
.project
.classpath
.checkstyle
.factorypath

# Build folder
target

*.versionsBackup
# API and jobs copy application JARs to Docker directory after compiling, for Docker to have it in context for building.
docker/nls-accessibility-map-api/application.jar
docker/nls-accessibility-map-graphhopper-job/application.jar
docker/nls-accessibility-map-generator-jobs/application.jar
docker/traffic-sign-api-stub/responses/realdata-*

**/application-local*.yml
secrets-*.yaml