trigger:
  branches:
    include:
      - main

pool:
  name: Kubernetes

resources:
  repositories:
    - repository: nls-pipeline-templates
      type: git
      name: NLS/nls-pipeline-templates
      ref: main

parameters:
  - name: skipSonar
    type: boolean
    default: false
  - name: skipTests
    type: boolean
    default: false
  - name: skipDocker
    type: boolean
    default: false
  - name: skipSecurityScanning
    type: boolean
    default: false
  - name: skipComponentTesting
    type: boolean
    default: false
  - name: skipPerformanceTesting
    type: boolean
    default: true
  - name: forceDeployment
    type: boolean
    default: false
  - name: skipDeployment
    type: boolean
    default: false
  - name: cleanupNamespaces
    type: boolean
    default: true

extends:
  template: v2/pipelines/java.yml@nls-pipeline-templates
  parameters:
    skipSonar: ${{ parameters.skipSonar }}
    skipTests: ${{ parameters.skipTests }}
    skipSecurityScanning: ${{ parameters.skipSecurityScanning }}
    skipComponentTesting: ${{ parameters.skipComponentTesting }}
    skipPerformanceTesting: ${{ parameters.skipPerformanceTesting }}
    skipDocker: ${{ parameters.skipDocker }}
    skipDeployment: ${{ parameters.skipDeployment }}
    forceDeployment: ${{ parameters.forceDeployment }}
    cleanupNamespaces: ${{ parameters.cleanupNamespaces }}
    mavenDeployToNdwShared: true
    jdkVersion: 1.21
    sonarOptionalCoverageExclusions: '**/generated/**,acceptance-test/acceptance-test-shared/**'
    sonarOptionalExclusions: '**/generated/**'
    pushToGitHub: true
    dockerImages:
      - imageName: nls-accessibility-map-api
        imageTag: $(Build.BuildNumber)
        dockerFile: docker/nls-accessibility-map-api/Dockerfile
        buildContext: docker/nls-accessibility-map-api
        repository: nls-accessibility-map-api
        push: true
      - imageName: nls-accessibility-map-job
        imageTag: $(Build.BuildNumber)
        dockerFile: docker/nls-accessibility-map-job/Dockerfile
        buildContext: docker/nls-accessibility-map-job
        repository: nls-accessibility-map-job
        push: true
    componentTests:
      - name: "all"
        module: "acceptance-test/component-test"
        additionalMavenOptions: "-pl !backend,!jobs/graphhopper,!jobs/mapgenerator,!jobs/traffic-sign,!acceptance-test/performance-test"
#    performanceTests:
#      - name: "all"
#        module: "acceptance-test/performance-test"
#        additionalMavenOptions: "-pl !backend,!jobs/graphhopper,!jobs/mapgenerator,!jobs/traffic-sign,!acceptance-test/component-test"
    deployment:
      environments:
        - name: "staging"
          kubernetesNameSpace: "nls"
          autoDeployment: true
          helmCharts:
            - name: "nls-accessibility-map-api"
              path: "deploy/nls-accessibility-map-api"
            - name: "nls-accessibility-map-jobs"
              path: "deploy/nls-accessibility-map-jobs"
              forceDelete: true
              arguments: >-
                --wait-for-jobs --timeout 180s
        - name: "production"
          deployAfter:
            - "staging"
          kubernetesNameSpace: "nls"
          autoDeployment: true
          helmCharts:
            - name: "nls-accessibility-map-api"
              path: "deploy/nls-accessibility-map-api"
            - name: "nls-accessibility-map-jobs"
              path: "deploy/nls-accessibility-map-jobs"
              forceDelete: true
              arguments: >-
                --wait-for-jobs --timeout 180s
