apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Values.initializeCache.name }}
  labels:
    tags.datadoghq.com/service: {{ .Values.initializeCache.name }}
    tags.datadoghq.com/env: {{ $.Values.environment }}
    tags.datadoghq.com/version: "{{ .Chart.AppVersion }}"
spec:
  ttlSecondsAfterFinished: 604800
  activeDeadlineSeconds: 86400
  backoffLimit: 3
  template:
    metadata:
      annotations:
        ad.datadoghq.com/{{ .Chart.Name }}.logs: '[{"source": "java", "service": "{{ .Values.initializeCache.name }}"}]'
        admission.datadoghq.com/java-lib.version: "{{ .Values.datadog.agent.version }}"
      labels:
        app: {{ .Values.initializeCache.name }}
        environment: {{ $.Values.environment }}
        admission.datadoghq.com/enabled: "true"
        tags.datadoghq.com/service: {{ .Values.initializeCache.name }}
        tags.datadoghq.com/env: {{ $.Values.environment }}
        tags.datadoghq.com/version: "{{ .Chart.AppVersion }}"
    spec:
      containers:
        - name: {{ .Values.initializeCache.name }}
          resources:
            limits:
              memory: {{ .Values.initializeCache.memory }}
            requests:
              memory: {{ .Values.initializeCache.memory }}
          image: ndwnls.azurecr.io/nls-accessibility-map-job:{{ $.Chart.AppVersion }}
          imagePullPolicy: Always
          envFrom:
            - configMapRef:
                name: nls-accessibility-map-job-config
          env:
            - name: COMMAND
              value: {{ .Values.initializeCache.command }}
            {{- /*
                  Added as env variable so the dd init container appends the settings instead of an overwrite
              */}}
            - name: SPRING_PROFILES_ACTIVE
              value: {{ $.Values.environment }}
            - name: JAVA_TOOL_OPTIONS
              value: -Xshare:off -XX:MaxRAMPercentage=70 -Ddatadog.slf4j.simpleLogger.logFile=System.out -Ddatadog.slf4j.simpleLogger.dateTimeFormat="yyyy-MM-dd HH:mm:ss.SSS"
          volumeMounts:
            - mountPath: /application/config
              name: secrets
              readOnly: true
            - mountPath: /application/heapdumps
              name: heap-dump
              subPath: {{ $.Chart.Name }}
            - mountPath: /application/cache
              name: cache
      restartPolicy: Never
      volumes:
        - name: secrets
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: nls-accessibility-map-job-spc
        - name: heap-dump
          persistentVolumeClaim:
            claimName: heapdump-pvc-claim
        - name: cache
          persistentVolumeClaim:
            claimName: nls-accessibility-map-cache
