apiVersion: batch/v1
kind: Job
metadata:
  name: nls-accessibility-map-api-pod-restarter-worker-queues-job
  labels:
    tags.datadoghq.com/service: nls-accessibility-map-api-pod-restarter-worker-queues-job
    tags.datadoghq.com/env: {{ $.Values.environment }}
    tags.datadoghq.com/version: "{{ .Chart.AppVersion }}"
spec:
  ttlSecondsAfterFinished: 604800
  backoffLimit: 3
  template:
    metadata:
      annotations:
        ad.datadoghq.com/nls-pod-restarter.logs: '[{"source": "java", "service": "nls-accessibility-map-api-pod-restarter-worker-queues-job"}]'
        admission.datadoghq.com/java-lib.version: "{{ .Values.datadog.agent.version }}"
      labels:
        app: nls-accessibility-map-api-pod-restarter-worker-queues-job
        environment: {{ $.Values.environment }}
        admission.datadoghq.com/enabled: "true"
        tags.datadoghq.com/service: nls-accessibility-map-api-pod-restarter-worker-queues-job
        tags.datadoghq.com/env: {{ $.Values.environment }}
        tags.datadoghq.com/version: "{{ .Chart.AppVersion }}"
    spec:
      containers:
        - name: nls-pod-restarter
          resources:
            limits:
              memory: 512Mi
            requests:
              memory: 512Mi
          image: ndwnls.azurecr.io/nls-pod-restarter:20260124.1
          imagePullPolicy: Always
          envFrom:
            - configMapRef:
                name: nls-accessibility-map-api-pod-restarter-config
          env:
            - name: COMMAND
              value: configureRabbitMQ
            - name: SPRING_PROFILES_ACTIVE
              value: {{ .Values.environment }}
            {{- /*
            Added as env variable so the dd init container appends the settings instead of an overwrite
            */}}
            - name: JAVA_TOOL_OPTIONS
              value: -Xshare:off -XX:MaxRAMPercentage=70 -Ddatadog.slf4j.simpleLogger.logFile=System.out -Ddatadog.slf4j.simpleLogger.dateTimeFormat="yyyy-MM-dd HH:mm:ss.SSS"
          volumeMounts:
            - mountPath: /application/config
              name: nls-accessibility-map-api-secrets
              readOnly: true
      restartPolicy: Never
      volumes:
        - name: nls-accessibility-map-api-secrets
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: nls-accessibility-map-jobs-spc
