graphhopper:
  dir: /application/graphhopper
  network-name: accessibility_latest

jooq:
  schema-validation:
    schema-severity:
      nwb: ERROR
    packages-to-scan:
      - nu.ndw.nls.db.nwb.jooq.generated
org:
  jooq:
    no-logo: true
spring:
  application:
    name: nls-accessibility-map-traffic-sign-analyser-job
  # Disables netty webserver startup
  main:
    web-application-type: none
  config:
    import: "optional:configtree:/application/config/configtree/"
  datasource:
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-init-sql: SELECT 1;
      idle-timeout: 60000
      max-lifetime: 120000
      minimum-idle: 1
      auto-commit: false
  security:
    oauth2:
      client:
        registration:
          traffic-sign-area-backend:
            authorization-grant-type: client_credentials
            client-id: ${keycloak.client-id}
            client-secret: ${keycloak.client-secret}
            provider: ndw-keycloak
        provider:
          ndw-keycloak:
            token-uri: ${keycloak.server-url}/realms/ndw/protocol/openid-connect/token
  jmx:
    enabled: false
  jooq:
    sql-dialect: Postgres
nu:
  ndw:
    nls:
      accessibilitymap:
        jobs:
          analyse:
            start-location-latitude: 52.12096528507054
            start-location-longitude: 5.334845116067081
            search-radius-in-meters: 1_000_000_000
        trafficsignclient:
          api:
            url: https://data.ndw.nu/api/rest/static-road-data/traffic-signs/v4
        trafficsigns:
          emission-zone:
            client:
              url: https://wegkenmerken.ndw.nu/api/area/ibbm/emission-zones/v1
              oauth2:
                registration-id: traffic-sign-area-backend
          cache:
            folder: "trafficsigns"
            file-name-active-version: "active"
            watch-for-updates: false
            fail-on-no-data-on-startup: false

resilience4j.retry:
  instances:
    emissionZone:
      maxAttempts: 3
      waitDuration: 1s
      enableExponentialBackoff: true
      exponentialBackoffMultiplier: 2
      retryExceptions:
        - feign.codec.DecodeException
        - feign.FeignException.InternalServerError
        - feign.RetryableException

management:
  observations:
    annotations:
      enabled: true

logging:
  level:
    root: WARN
    nu.ndw.nls: INFO
    nu.ndw.nls.accessibilitymap.accessibility.services.mappers.TrafficSignSnapMapper: ERROR
    nu.ndw.nls.accessibilitymap.accessibility.graphhopper.querygraph.QueryGraphConfigurer: ERROR
