hostDatabase: localhost
hostWiremock: localhost

graphhopper:
  dir: .tmp/graphhopper

nu:
  ndw:
    nls:
      accessibilitymap:
        trafficsigns:
          cache:
            folder: "./.tmp/trafficsigns/"
management:
  datadog:
    metrics:
      export:
        enabled: false
