<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <root level="INFO">
        <!--    This is the default level, which may be overridden in application.yaml 'logging.level'-->
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
