server:
  compression:
    enabled: true
    mime-types: application/json,application/geo+json
  max-http-request-header-size: 50KB
  servlet:
    context-path: /api/rest/static-road-data/accessibility-map

graphhopper:
  dir: /application/graphhopper
  network-name: accessibility_latest
spring:
  application:
    name: nls-accessibility-map-api-local
  jackson:
    default-property-inclusion: non_null
  config:
    import: "optional:configtree:/application/config/configtree/"
  security:
    oauth2:
      resource-server:
        jwt:
          issuer-uri: ${nls.keycloak.url}/realms/ndw
          jwk-set-uri: ${nls.keycloak.url}/realms/ndw/protocol/openid-connect/certs
  datasource:
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-init-sql: SELECT 1;
      idle-timeout: 60000
      max-lifetime: 120000
      minimum-idle: 1
      auto-commit: false
  jooq:
    sql-dialect: Postgres

nu:
  ndw:
    nls:
      accessibilitymap:
        trafficsigns:
          cache:
            folder: "trafficsigns"
            file-name-active-version: "active"
nls:
  oauth2:
    jwtResourceProperty: ${spring.application.name}

management:
  endpoint:
    health:
      probes:
        enabled: true
  observations:
    annotations:
      enabled: true
    key-values:
      service: ${spring.application.name}

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    groups-order: DESC
    urls:
      - name: V2 / Latest
        url: /api-docs/v2.yaml
      - name: V1
        url: /api-docs/v1.yaml
    path: /api-docs
    show-extensions: true
    show-common-extensions: true

openapi:
  accessibilityMapV1:
    base-path: /v1
  accessibilityMapV2:
    base-path: /v2

logging:
  level:
    root: WARN
    nu.ndw.nls: WARN
    nu.ndw.nls.accessibilitymap.accessibility.services.mappers.TrafficSignSnapMapper: ERROR
    nu.ndw.nls.accessibilitymap.accessibility.graphhopper.querygraph.QueryGraphConfigurer: ERROR
