spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/nls-maps?ApplicationName=nls-accessibility-map&stringtype=unspecified
    username: nls-maps
    password: nls-maps
nls:
  keycloak:
    url: http://nls-keycloak:8000/auth
management:
  datadog:
    metrics:
      export:
        enabled: false
nu:
  ndw:
    nls:
      accessibilitymap:
        network:
          cache:
            folder: "./.tmp/network"
        trafficsigns:
          cache:
            folder: "./.tmp/trafficSigns/"
graphhopper:
  dir: ".tmp/graphhopper/"
logging:
  level:
    root: INFO
    nu.ndw.nls: TRACE
