hostDatabase: localhost
hostEventBroker: localhost

graphhopper:
  dir: .tmp/graphhopper


nu:
  ndw:
    nls:
      accessibilitymap:
        trafficsigns:
          cache:
            folder: "./.tmp/trafficsigns/"
        jobs:
          generate:
            root-export-directory: .tmp/map-generation-destination
            prettyPrintJson: true
