hostSuffix: "replaced_by_pipeline"
hostDatabase: database.${hostSuffix}
hostEventBroker: rabbitmq.${hostSuffix}
hostWiremock: wiremock.${hostSuffix}

server:
  port: 8081

spring:
  cloud:
    openfeign:
      micrometer:
        enabled: false
  datasource:
    url: jdbc:postgresql://${hostDatabase}:5432/nls-maps?ApplicationName=nls-accessibility-map-graphhopper-job&stringtype=unspecified
    username: nls-maps
    password: nls-maps
  main:
    web-application-type: servlet
management:
  endpoints:
    web:
      exposure:
        include: health,command
  endpoint:
    health:
      probes:
        enabled: true
  datadog:
    metrics:
      export:
        enabled: false

logging:
  level:
    root: INFO
    nu.ndw.nls: DEBUG

nu:
  ndw:
    nls:
      springboot:
        job:
          run-as-service: true
        messaging:
          broker-uri: amqp://guest:guest@${hostEventBroker}:5672?heartbeat=300
      accessibilitymap:
        trafficsigns:
          cache:
            fail-on-no-data-on-startup: false

keycloak:
  server-url: http://${hostWiremock}:8888/auth
  client-id: nls-accessibility-map-api-service-account
  client-secret: cfe4793c-ddf7-405a-940f-51b43800aed4

feign:
  client:
    base-url: http://${hostWiremock}:8888/api
